body {
    background: #F2F2F2;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;  
}

a{
    text-decoration: none
}

li {
    list-style: none;
}

li, ul{
    margin: 0;
    padding: 0;
}

.container{
    width: 1180px;
    margin: 0 auto;
}

.header{
    background: #F0F2F5;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.header-wrapper{
    display: flex;
    justify-content: start;
    gap: 80px;
    a{
        color: #222222; 
    }
    
}

.header-timeinfo{
    color: #6C6B6B;
}

.user-list{
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    gap: 20px;
}

.user-item{
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    width: 300px;
    border-radius: 30px ;
    padding: 8px 30px ;
    
    &:hover {
        background: rgb(239, 239, 239);
        border: 1px solid rgb(171, 171, 255);
    }

    h4{
        color: #222222
    }

    p{
        color: #6C6B6B
    }
    img {
        margin: auto 0;
        width: 85px;
        height: 85px;
        border-radius: 100px;
        margin-right: 20px;
    }
}

.footer{
    padding: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);   
    background: #F0F2F5;
    p{
       color: #6C6B6B; 
    }
}

// dialogs

.dialogs-section{
    background: #fff;
    padding: 30px 0 30px 60px;
}

.dialogs-wrapper{
    display: grid;
    grid-template-columns: 25% 75%;
}

.dialogs-user-wrapper{
    margin: 0 auto;
    width: 80%;
    height: 500px;
    float: left;
    top: 0;
    position: sticky;
}


.dialogs-user-main{
    margin: 45px 0 35px 0;
    h3{
        margin: 0;
    }
    a{
        color: #6C6B6B;
    }
}


.userinfo{
    display: flex;
    
    p{
        color: #6C6B6B;
        padding: 0;
        margin: 5px 0;
    }
}


.message-info{
    display: flex;

    h4{
        margin: 0;
        padding: 0;
        margin: auto 0;
    }
    p {
        color: #6C6B6B;
        margin-left: 15px;
    }
}

.message-text{
    margin-left: 30px;
    p{
        margin: auto 0;
        padding: 5px 0 0 0;
    }
    a{ 
        display: flex;
        color: #222222;
        img{
            margin: auto 0;
        }
        p{
            margin: auto 0;
            padding-left: 10px;
        }
    }

    h4{
        margin-right: 10px;
    }

    .forwarded{
        color: blue;       
        padding: 0;
        margin: 0;
        p{
            padding: 0;
            margin: 0;
        }
    }
}
