body {
  background: #F2F2F2;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

li, ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 1180px;
  margin: 0 auto;
}

.header {
  background: #F0F2F5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 80px;
}
.header-wrapper a {
  color: #222222;
}

.header-timeinfo {
  color: #6C6B6B;
}

.user-list {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.user-item {
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  border-radius: 30px;
  padding: 8px 30px;
}
.user-item:hover {
  background: rgb(239, 239, 239);
  border: 1px solid rgb(171, 171, 255);
}
.user-item h4 {
  color: #222222;
}
.user-item p {
  color: #6C6B6B;
}
.user-item img {
  margin: auto 0;
  width: 85px;
  height: 85px;
  border-radius: 100px;
  margin-right: 20px;
}

.footer {
  padding: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  background: #F0F2F5;
}
.footer p {
  color: #6C6B6B;
}

.dialogs-section {
  background: #fff;
  padding: 30px 0 30px 60px;
}

.dialogs-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 75%;
  grid-template-columns: 15% 75%;
}

.dialogs-user-wrapper {
  margin: 0 auto;
  width: 80%;
  height: 500px;
  float: left;
  top: 0;
  position: sticky;
}

.dialogs-user-main {
  margin: 45px 0 35px 0;
}
.dialogs-user-main h3 {
  margin: 0;
}
.dialogs-user-main a {
  color: #6C6B6B;
}

.userinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.userinfo p {
  color: #6C6B6B;
  padding: 0;
  margin: 5px 0;
}

.message-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.message-info h4 {
  margin: 0;
  padding: 0;
  margin: auto 0;
}
.message-info p {
  color: #6C6B6B;
  margin-left: 15px;
}

.message-text {
  margin-left: 30px;
}
.message-text p {
  margin: auto 0;
  padding: 5px 0 0 0;
}
.message-text a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #222222;
}
.message-text a img {
  margin: auto 0;
}
img {
  max-width: 500px;
}
.audio-img {
  width: 38px;
}
.message-text a p {
  margin: auto 0;
  padding-left: 10px;
}
.message-text h4 {
  margin-right: 10px;
}
.message-text .forwarded {
  color: blue;
  padding: 0;
  margin: 0;
}
.message-text .forwarded p {
  padding: 0;
  margin: 0;
}