<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap" rel="stylesheet">
    <title>{{ messages[0].user_name["name"] }}</title>
</head>
<body>
    <section class="dialogs-wrapper">
        <div class="dialogs-user-wrapper">
            <div class="dialogs-user-main">
                <h3>{{ messages[0].user_name_main["name"] }}</h3>
                <a href="{{ messages[0].user_name_main["url"] }}">{{ messages[0].user_name_main["url"] }}</a>
            </div>
  
        </div>

        <div class="dialogs-section">
            {% for message in messages -%}
             <div class="message-wrapper">
                <div class="message-info">
                    {% if message.message_info[0] == "Входящий" -%}
                    <h4>{{ message.message_info[1] }}</h3>
                    {% else -%}
                    <h4>{{ message.message_info[3] }}</h3>
                    {% endif -%}
                    <p>{{ message.message_info[2] }}</p>
                </div>
                <div  class="message-text">
                    {% if message.text -%}
                        {% for text in message.text -%}
                            <p>{{ text }}</p>
                        {% endfor -%}
                    {% endif -%}

                    {% if message.photo -%}
                        {% for photo in message.photo -%}
                            <img src="{{ photo }}">
                        {% endfor -%}
                    {% endif -%}

                    {% if message.voice -%}
                        <a href="{{ message.voice }}">
                            <img src='../img/play.svg' alt="play">
                            <p>Голосовое сообщение</p>
                        </a>
                    {% endif -%}    
                    
                    {% if message.sticker_gift -%}
                        <div  class="message-text">
                            <img src="{{ message.sticker_gift }}">
                        </div>
                    {% endif -%} 
                    
                    {% if message.audio -%}
                        <a href="https://{{ message.audio['url'] }}">
                            <img src='../img/audio.png' alt="play" class="audio-img">
                            <p>Аудиозапись: {{ message.audio["name"] }}</p>
                        </a>
                    {% endif -%}

                    {% if message.video -%}
                        <a href="https://{{ message.video['url'] }}">
                            <img src='../img/video.png' alt="play" class="audio-img">
                            <p>Видеозапись: {{ message.video["name"] }}</p>
                        </a>
                    {% endif -%}

                    {% if message.wall -%}
                        <p>Запись со стены сообщества:</p>
                        <p>{{ message.wall["annotation"] }}</p>
                        <a href="https://{{ message.wall['url'] }}" class="wall-url">https://{{ message.wall['url'] }}</a>
                    {% endif -%}
                    
                    {% if message.other_files -%}
                        <p>Файл(ы):</p>
                        {% for file in message.other_files -%}
                            <a href="https://{{ file[1] }}" class="wall-url">{{ file[0] }}</a>
                        {% endfor %}
                    {% endif -%}

                    {% if message.links -%}
                        <p>Сслыка на сторонний сайт:</p>
                        {% for url in message.links -%}
                            <a href="https://{{ url }}" class="wall-url">https://{{ url }}</a>
                        {% endfor %}
                    {% endif -%}
                    
                    {% if message.forward -%}
                        {% for f_message in message.forward -%}
                            <div>
                                <p class="forwarded">пересланное сообщение</p>
                                <div class="message-wrapper">
                                    <div class="message-info">
                                        {% if f_message.message_info[0] == "Входящий" -%}
                                        <h4>{{ f_message.message_info[1] }}</h3>
                                        {% else -%}
                                        <h4>{{ f_message.message_info[3] }}</h3>
                                        {% endif -%}
                                        <p>{{ f_message.message_info[2] }}</p>
                                    </div>
                                    <div  class="message-text">
                                        {% if f_message.text -%}
                                            {% for text in f_message.text -%}
                                                <p>{{ text }}</p>
                                            {% endfor -%}
                                        {% endif -%}

                                        {% if f_message.photo -%}
                                            {% for photo in f_message.photo -%}
                                                <p>photo</p>
                                                <img src="{{ photo }}">
                                            {% endfor -%}
                                        {% endif -%}

                                        {% if f_message.voice -%}
                                            <a href="{{ f_message.voice }}">
                                                <img src='img/play.svg' alt="play">
                                                <p>Голосовое сообщение</p>
                                            </a>
                                        {% endif -%}    
                                        
                                        {% if f_message.sticker_gift -%}
                                            <div  class="f_message-text">
                                                <img src="{{ f_message.sticker_gift }}">
                                            </div>
                                        {% endif -%} 
                                        
                                        {% if f_message.audio -%}
                                            <a href="https://{{ f_message.audio['url'] }}">
                                                <img src='img/audio.png' alt="play" class="audio-img">
                                                <p>Аудиозапись: {{ f_message.audio["name"] }}</p>
                                            </a>
                                        {% endif -%}

                                        {% if f_message.video -%}
                                            <a href="https://{{ f_message.video['url'] }}">
                                                <img src='img/video.png' alt="play" class="audio-img">
                                                <p>Видеозапись: {{ f_message.video["name"] }}</p>
                                            </a>
                                        {% endif -%}

                                        {% if f_message.wall -%}
                                            <p>Запись со стены сообщества:</p>
                                            <p>{{ f_message.wall["annotation"] }}</p>
                                            <a href="https://{{ f_message.wall['url'] }}" class="wall-url">https://{{ f_message.wall['url'] }}</a>
                                        {% endif -%}
                                        
                                        {% if f_message.other_files -%}
                                            <p>Файл(ы):</p>
                                            {% for file in f_message.other_files -%}
                                                <a href="https://{{ file[1] }}" class="wall-url">{{ file[0] }}</a>
                                            {% endfor %}
                                        {% endif -%}

                                        {% if f_message.links -%}
                                            <p>Сслыка на сторонний сайт:</p>
                                            {% for url in f_message.links -%}
                                                <a href="https://{{ url }}" class="wall-url">https://{{ url }}</a>
                                            {% endfor %}
                                        {% endif -%}
                                                        </div>
                                                    </div>
                                                </div>
                        {% endfor -%}
                    {% endif -%}

                </div>
             </div>
             {% endfor %}
        </div>
    </section>
</body>
</html>